@font-face {
    font-family: 'NavFont';
    src: url('./Fonts/MagicMedieval.ttf') format('woff2');
}

@font-face {
    font-family: 'TextFont';
    src: url('./Fonts/Planewalker.ttf') format('woff2');
}

body {
    font-family: 'TextFont', Arial, sans-serif;
    background: url('./Media/Decor/background.jpg');
    background-size: cover;
    color: wheat;
}

header {
    background-color: #2e2e2e;
    color: wheat;
    padding: 10px;
    box-shadow: 0px 4px 6px black;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    border: 3px solid darkgreen;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 90%;
}

.logo h1 {
    font-family: 'NavFont', Arial, sans-serif;
    font-size: 2.5rem;
    margin: 5px 0;
    text-shadow: 2px 2px 5px black;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background-color: #2e2e2e;
    max-width: 80%;
    margin: 0 auto;
}

.nav-menu li {
    margin: 0;
    border-right: 1px solid darkgreen;
}

.nav-menu li:last-child {
    border-right: none;
}

.nav-menu a {
    text-decoration: none;
    color: wheat;
    font-family: 'NavFont', Arial, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

.nav-menu .active {
    color: #2e2e2e;
    background-color: darkgreen;
}

.nav-menu a:hover {
    color: #2e2e2e;
    background-color: wheat;
    transform: scale(1.1);
}

footer {
    font-size: smaller;
    border-top: 1px solid darkgreen;
    background-color: #2e2e2e;
    color: wheat;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    margin: 20px 0;
    font-family: 'NavFont', Arial, sans-serif;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature {
    font-size: 2rem;
    font-family: 'NavFont', Arial, sans-serif;
    text-shadow: 2px 2px 5px black;
    margin: 20px 0;
}

/* Reusable border and padding style */
.intro,
.matchup,
.about {
    border: 3px solid darkgreen;
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    border-radius: 10px;
    background-color: rgba(46, 46, 46, 0.8);
}

.intro h2,
.about h2,
.matchup h3 {
    font-family: 'NavFont', Arial, sans-serif;
    margin-bottom: 10px;
}

.intro p,
.about p,
.matchup p,
.matchup ul {
    font-family: 'TextFont', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.matchup ul,
.meta-tips ul {
    list-style-type: none;
    margin-left: 20px;
}

.meta-tips {
    background-color: rgba(46, 46, 46, 0.9);
    border: 3px solid darkgreen;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 50px;
    max-width: 90%;
    border-radius: 10px;
    text-align: center;
}

.card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    background-color: #2e2e2e;
    color: wheat;
    border: 2px solid darkgreen;
    border-radius: 12px;
    overflow: hidden;
    width: calc(33.333% - 20px);
    box-shadow: 0px 4px 6px black;
    margin: 0 auto;
    position: relative;
}

.card img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-right: 2px solid darkgreen;
}

.card-info {
    padding: 10px;
    width: 60%;
}

.card-info h3 {
    font-family: 'NavFont', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0 0 10px;
}

.card-info p {
    font-family: 'TextFont', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

.hover-sepulcher {
    width: 40%;
    height: auto;
    background: url('./Media/Cards/Artifacts/Tithing Blade.png');
    background-size: cover;
    display: block;
    border-right: 2px solid darkgreen;
}

.hover-sepulcher:hover {
    background: url('./Media/Cards/Tokens/Consuming Sepulcher.png');
    background-size: cover;
}

.hover-rose {
    width: 40%;
    height: auto;
    background: url('./Media/Cards/Creatures/Thorn of the Black Rose.png');
    background-size: cover;
    display: block;
    border-right: 2px solid darkgreen;
}

.hover-rose:hover {
    background: url('./Media/Cards/Tokens/The Monarch.png');
    background-size: cover;
}

.hover-hunter {
    width: 40%;
    height: auto;
    background: url('./Media/Cards/Creatures/Avenging Hunter.png');
    background-size: cover;
    display: block;
    border-right: 2px solid darkgreen;
}

.hover-hunter:hover {
    background: url('./Media/Cards/Tokens/Undercity.png');
    background-size: cover;
}

.hover-dispute {
    width: 40%;
    height: auto;
    background: url('./Media/Cards/Spells/Deadly Dispute.png');
    background-size: cover;
    display: block;
    border-right: 2px solid darkgreen;
}

.hover-dispute:hover {
    background: url('./Media/Cards/Tokens/Treasure.png');
    background-size: cover;
}

.hover-garden {
    width: 40%;
    height: auto;
    background: url('./Media/Cards/Lands/Khalni Garden.png');
    background-size: cover;
    display: block;
    border-right: 2px solid darkgreen;
}

.hover-garden:hover {
    background: url('./Media/Cards/Tokens/Plant.png');
    background-size: cover;
}